.App {
  text-align: center;
  margin-top: 0px;
}

form {
  padding-top: 20px;
}

form>p {
  margin: 0px 0px 20px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-family: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rojo {
  border: 4px solid red;
  zoom: 1.09;
}
input.rojo::placeholder {
  color: red;
  font-size: x-small;
  position: relative;
  top: 6px;
}
.frase {
  display: none;
  font-weight: bold;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #dcdcdc1f;
}

.signo {
  display: inline-block;
}

.signo>img {
  width: 36px;
  position: relative;
  top: 11px;
  left: 10px;
}

.side {
  max-width: 200px;
  position: absolute;
  background: gainsboro;
  padding-top: 20px;
  min-height: 100vh;
}

.frase2 {
  display: grid;
  font-weight: bold;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #dcdcdcc7;
}

.frase2 p {
  margin: auto;
  display: block;
  color: black;
  text-align: center;
  border: 2px solid white;
  padding: 20px;
  background: wheat;
  width: fit-content;
  border-radius: 4px;
  font-family: sans-serif;
}

.home{
  text-align: center;
}